.nav {
    grid-area: n;
    background-color: aqua;
}
.item {
    margin-top: 20px;
}
.item:hover > a {
    color: goldenrod;
}
.item a {
    color: dimgray;
    text-decoration: none;
}
.active > a {
    color: white;
}
