.nav {
    grid-area: n;
    background-color: aqua;
}
.item {
    margin-top: 20px;
    padding-left: 20px;
}
.item:hover > a {
    color: goldenrod;
}
a {
    color: dimgray;
    text-decoration: none;
}
.active {
    color: red;
}

